.App {
  text-align: center;
  color: #222;
  font-weight: 300;
  background-color: #fff;
}

/* Header */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: linear-gradient(180deg, rgba(251,234,230,1) 0%, rgba(251,213,206,1) 100%);
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav-links {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.nav-link {
  color: #85706b;
  text-decoration: none;
  font-weight: 400;
}

/* Hidden nav text in mobile version */
.nav-link-text {
  display: none;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active{
  color: #d58e81;
  
}






/* Typography */

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

h1, h2, h3, li {
  font-family: 'Chivo', sans-serif;
  color: #85706b;
}

.page-movie p,
.page-about p,
.page-watch-list {
  color: #85706b;
}

nav h3,
.footer h3 {
  font-weight: 700;
}

nav svg {
  fill: #85706b;
}


.details-info {
  text-align: left;
  line-height: 1.3em;
}

.details-overview {
  text-align: justify;
}


/* Tag Styles */
.page-movie .tag{
  background-image: linear-gradient(120deg, #d58e81 0%,  #fbd5ce 100%);
  border-radius: 15px;
  margin-left: 8px;
  padding: 8px;
  padding-right: 10px;
  text-align: center;
  line-height: 43px;
  color: #fffaf9;
}

/* Page Specifics */

.error {
  font-size: 5em;
  color: #d58e81;
  text-align: center;
  margin-bottom: 0;
  margin-top: -5px;
}

.page-404 p {
  line-height: 1.5em;
}

.page-404 a {
  color: #d58e81;
  font-weight: 400;
}

.page-404 a:hover,
.page-404 a:active,
.page-404 a:focus {
  color: #fbeae6;
}

.details-box {
  text-align: center;
}

#popular h1 {
  display: block;
  width: 100%;
  background-color: #fff;
}


/* Layout */

.wrapper {
  padding: 0 40px;
}

.search-bar {
  padding-top: 10vh;
}

.search-movies {
  padding-top: 8vh;
}


.page-movie, 
.movieRow {
  padding-top: 5vh;
}

.movie-gap {
  height: 45px;
}

.poster-large {
  display: none;
}

.page-watch-list {
  margin-top: 0;
}

.page-watch-list .error {
  margin-top: 150px;
}

/* Tablet view media query */
@media only screen and (min-width: 650px) {
  .popular-movies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .page-movie .details-box {
    max-width: 700px;
    margin: auto;
  }

  
}

/* Desktop view media query */
@media only screen and (min-width: 900px) {
  .popular-movies {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
  }

  nav ul img {
    display: none;
  }

  .nav-link-text {
    display: block;
  }

}

/* For better desktop viewing on movie details page */
@media only screen and (min-width: 1200px) {
  .page-movie main .desktop,
  .page-about {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .poster-small {
    display: none;
  }

  .poster-large {
    display: block;
  }

  .details-box {
    text-align: left;
    width: 600px;
  }

  .page-movie .details-box .details-overview {
    text-align: justify;
  }

}


/* Footer Styles & Layout */
.footer {
  height: 10vh;
  margin-top: 8vh;
  background: linear-gradient(0deg, rgba(251,234,230,1) 0%, rgba(251,213,206,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-around; 
  color: #85706b;
}


.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-info svg {
  padding: 10px;
  color: #85706b;
}


/* Link animation effects */

.popular-movie-title a,
.page-movie a, .purple-btn {
  display: inline-block;
  position: relative;
  color: #d58e81;
  text-decoration: none;
  padding: 0.2em 0.05em;
  font-weight: 400;
  font-size: .8em;
  border-bottom: 1px solid #fbd5ce;
}

.popular-movie-title a:hover,
.page-movie a:hover,
.purple-btn:hover {
  color: #fbeae6;
}

.popular-movie-title a:after,
.page-movie a:after,
.purple-btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #d58e81;
  z-index: -1;
  transition: all 0.1s cubic-bezier(0.000, 0.590, 1.000, 0.260);
}

.popular-movie-title a:hover:after,
.page-movie a:hover:after,
.purple-btn:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #c8a8a1;
  z-index: -1;
}

.noLinkEffects {
  color: #85706b;
}


/* Flip card animation */
.card-adjustment {
  display: flex;
  justify-content: center;
}

.flip-card-container {
  width: 250px;
  height: 373px;
  perspective: 1000px;
  transform: translateX(-40%);
}
.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  left: 100px;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card-container:hover .flip-card {
  transform: rotateY(.5turn)
}


/* Card styles */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card-front {
  background-color: #85706b;
  color: #fff;
}
.flip-card-back {
  background-color: #85706b;
  color: #fff;
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
}

.flip-card-back  a {
  text-align: center;
  margin: 1rem;
  font-size: .9rem;
  line-height: 1.5rem;
  color: white;
}

.flip-card-back p span {
  display: block;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
  margin-top: 1.25rem;
}

/* Search Bar Styles*/
.search-page {
  padding-top: 0;
}

.search-page input {
  font-size: 1.5em;
  font-family: 'Chivo', sans-serif;
  display: block;
  width: 100vw;
  position: relative;
  right: -25px;
  outline: 0;
  z-index: 1 !important;
  color: #85706b;
  border: 0; 
  background-color: transparent; 
  font-weight: 300;
}

.search-bar {
  position: fixed;
  right: -18px;
  top: 11vh;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 40px #fbeae6, 0 0 0 10px #fbd5ce;
  transform: scale(0.5);
  font-size: 1.3em;
  z-index: 1 !important;
}


/* Loading Styles */

.loading, .page-404, .page-watch-list {
  display: inline-block;
  text-align: center;
  margin-top: 150px;
}

.loading h1 {
  font-weight: 300;
}
.loading h2 {
  font-weight: 300;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #85706b;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Watch List Styles */

.laterMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 18px;
  background-image: linear-gradient(120deg, #fbeae688 0%, #fbeae688 100%);
  box-shadow: -5px -5px 20px #fff,  5px 5px 20px rgb(229, 231, 243);
  color: #85706b;
}

.laterTitle {
  width: 100px;
  text-align: left;
  font-size: 1em;
  padding: 15px;
}

.list-btn {
  outline: 0;
  border: none;
  background-color: #fff;
  border-radius: 25px;
  line-height: 0;
  width: 100px;
  height: 40px;
  display:inline-flex;
  justify-content: center;
  align-items:center;
  margin: 0 8px;
  font-size: .8em;
  padding: 5px;
  color:#85706b;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff,  5px 5px 20px rgb(229, 231, 243);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
  .page-watch-list {
    max-width: 580px;
  }

  .laterMovie {
    width: 500px;
  }
  
  .laterTitle {
    width: 220px;
    font-weight: 400;
  }
  
}

/* About Layout & Styles*/
.page-about {
  margin-top: 10vh;
  margin-bottom: 0;
  padding-bottom: 5vh;
}

.page-about .details-box {
  line-height: 1.5em;
  text-align: left;
}

.page-about .details-box header {
  text-align: center;
}

.page-about .poster-small {
  width: auto;
}

.sub-footer {
  padding: 0 15px;
  line-height: 1.5em;
  color: #85706b;
}

.watch-list-link{
  color: #d58e81;
  font-weight: 700;
}

.watch-list-link:active,
.watch-list-link:hover,
.watch-list-link:focus{
  color: #fbd5ce;
}

@media only screen and (min-width: 700px) {
 .page-about .poster-large {
   display: block;
 }

 .page-about .poster-small {
   display: none;
 }
  
}

/* Link Style for 'Add to/ Remove from watch list"  */
.purple-btn {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #fbd5ce;
  font-size: 1.5em;
  font-family: 'Chivo', sans-serif;
  margin-top: 5px;
  background: transparent;
}